// font
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');
@mixin headingXL($color: $main) {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.26;
  color: $color;
}

@mixin headingL($color: $main) {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.26;
  color: $color;
}

@mixin headingM($color: $main) {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.26;
  color: $color;
}

@mixin headingS($color: $main) {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.26;
  color: $color; 
}

@mixin bodyM($color: $primary) {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.555;
  color: $color;
}

@mixin bodyS($color: $primary) {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.75;
  color: $color;
}

// colors
$main: #13183F;
$main-hover: #666CA3;
$primary: #83869A;
$pink: #F74780;
$pink-hover: #FFA7C3;
$white: #ffffff;

// gradient
$linear-gra-main: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
$linear-gra-sub: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);

// layout
@mixin flex($jc: center, $ai: center, $fd: row) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
}

// BtnStyle
@mixin commonBtn {
  font-size: 1.125rem;
  line-height: 1.555;
  border: none;
  outline: none;
  color: $white;
}

@mixin btnPrimary($bgColor: $main, $color: $white, $hoverColor: $main-hover) {
  padding: 0.875rem 1.93rem;
  border-radius: 28px;
  background: $bgColor;
  &:hover {
    background: $hoverColor;
  }
}

@mixin btnStrong($bgColor: $linear-gra-main, $color: $white) {
  padding: 1.125rem 1.93rem;
  border-radius: 31.5px;
  background: $bgColor;
  &:hover {
    opacity: .5;
  }
}