@import "reset.scss";
@import "common.scss";

* {
	font-family: 'Plus Jakarta Sans', sans-serif !important;
}

h1 {
  background: $linear-gra-main;
  @include headingXL;
}
h2 {
  background: $linear-gra-sub;
  @include headingL;
}
h3 {
  background: $linear-gra-sub;
  @include bodyM;
}
h4 {
  background: $linear-gra-sub;
  @include bodyS;
}
h5 {
  background: $linear-gra-sub;
  color: $pink-hover;
  font-size: 100px;
}
h6 {
  background: $linear-gra-sub;
  color: $white;
  font-size: 100px;
  font-size: 1.5rem;
}

.btn1 {
  @include commonBtn;
  @include btnPrimary;
}
.btn2 {
  @include commonBtn;
  @include btnStrong;
}